
@{
    ViewBag.Title = "Start";
}

<html>
<head lang="en">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MaidSafe - Features</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="MaidSafe's distributed platform enables the creation of fast and secure applications that help ensure digital privacy, security and freedom for all.">
    <meta name="keywords" content="Distributed Platform, MaidSafe"><!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link href="../img/favicon.ico" rel="shortcut icon">
    <link href="https://maidsafe.net/features.html" rel="canonical">
    <link href="../img/favicon.ico" rel="icon" type="image/ico" property="stylesheet">
    <script src="//www.google-analytics.com/analytics.js"></script>
    <script src="js/vendor.dd5a.js"></script>
    <link href="~/Content/maidsafe.css" rel="stylesheet">
    <link href="~/Content/maidsafe2.css" rel="stylesheet">
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <header class="invert">
        <div class="header-b clearfix">
            <div class="header-lt">
                <div class="site-logo">
                    <a class="gray" href="./"><img alt="MaidSafe Logo" src="./img/logo_white.3b1f.svg"></a>
                    <a class="original" href="./"><img alt="MaidSafe Logo" src="./img/logo_colour.97da.svg"></a>
                </div>
            </div>
            <div class="header-rt">
                <div class="primary-nav">
                    <ul class="primary-nav-b clearfix">
                        <!--<li class="link-button"><a id="alphaBtn" class="al-btn invert" href="./alpha.html">Alpha Release</a></li>-->
                        <li class="active"><a href="./features.html">Features</a></li>
                        <li><a href="./safecoin.html">Safecoin</a></li>
                        <li><a href="./company.html">Company</a></li>
                        <li class="nav-dropdown" id="navDropdown">
                            <a href="#">More<span class="icn"></span></a>
                            <a class="show-on-mob" href="#">Menu<span class="icn"></span></a>
                            <ul class="nav-dropdown-b">
                                <!--<li class="show-on-mob"><a href="./alpha.html">Alpha Release</a></li>-->
                                <li class="show-on-mob"><a href="./features.html">Features</a></li>
                                <li class="show-on-mob"><a href="./safecoin.html">Safecoin</a></li>
                                <li class="show-on-mob"><a href="./company.html">Company</a></li>
                                <li><a href="http://blog.maidsafe.net/" target="_blank">Blog</a></li>
                                <li><a href="./roadmap_dev.html">Roadmap</a></li>
                                <li><a href="./contact.html">Contact</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!-- /Header --><div class="root sub-page"><div class="content-1"><h3>Features of the SAFE Network</h3><p>The SAFE (Secure Access For Everyone) Network is made up of the unused hard drive space, processing power and data connection of its users. It oﬀers a level of security and privacy not currently available on the existing Internet and turns the tables on companies, putting users in control of their data, rather than trusting it to organisations. A number of features make this possible:</p></div><!-- Feature 1 --><div class="post-2 flip" id="self-auth"><h3 class="title">Login and secure your data with no middle man.</h3><div class="post-2-b"><div class="post-2-media"><img alt="Self-Authentication" src="./img/features_1.b23d.svg"></div><div class="post-2-content"><p>No need to give your password to anyone, or ask a third party’s permission to access your data. Your information, and access to it, belongs to you!</p><p>Your PIN and Keyword are used to locate your data on the network and your password, which never leaves your machine, is then used to decrypt it locally. This means that no one needs to hold a record of your ﬁles, or your login details and there’s no need to ask anyone for permission to access it. This process is called Self-Authentication and enables you to ﬁnd, unlock and decrypt your own data.</p></div></div></div><!-- #Feature 1 --><!-- Feature 2 --><div class="post-2" id="self-encryption"><h3 class="title">Self-Encryption: Data which encrypts itself, with itself.</h3><div class="post-2-b"><div class="post-2-media"><!-- <img src="./img/features_2.eab4.svg" alt="Self-Encryption" /> --><iframe src="https://www.youtube.com/embed/Jnvwv4z17b4" allowfullscreen=""></iframe></div><div class="post-2-content"><p>Files uploaded to the network are broken into pieces, encrypted and distributed across the network. This process is called Self-Encryption.</p><p>When a user uploads (or saves) a ﬁle to the network, via one of the SAFE Network apps, the ﬁle is automatically broken up into chunks. These chunks are then encrypted (encoded so that only authorised parties can read it), randomised and stored on the computers of other SAFE Network users. These encrypted chunks are completely unreadable and inaccessible to anyone other than the owner.</p></div></div></div><!-- #Feature 2 --><!-- Feature 3 --><div class="post-2 flip" id="distributed-network"><h3 class="title">Distributed network with opportunistic data caching.</h3><div class="post-2-b"><div class="post-2-media"><img alt="Distributed Network" src="./img/features_3.8db3.svg"></div><div class="post-2-content"><p>The SAFE Network is fully decentralised, with ﬁles distributed and stored all over the world, on diﬀerent devices. This allows the network to be robust to attacks, with no central point of weakness.</p><p>The distributed nature of the network provides your data with physical security, meaning that no third party can access or delete it, as can happen with existing centralised solutions. The feature called Opportunistic Caching automatically creates more copies of popular data closer to where it is being requested, so popular websites and other data feeds will actually speed up as they get more visitors, rather than slow down and crash as they do on today’s web.</p></div></div></div><!-- #Feature 3 --><!-- Feature 4 --><div class="post-2" id="data-availability"><h3 class="title">Data availability and built-in redundancy.</h3><div class="post-2-b"><div class="post-2-media"><img alt="Data Availability" src="./img/features_4.ea36.svg"></div><div class="post-2-content"><p>The network is programmed to keep duplicate copies of each piece of data at all times. As users turn their computers off, the network makes more copies and stores them on other machines, ensuring that users always have access to their files.</p><p>This constant movement of data (called churn) is a key part of the security that the SAFE Network offers because there is no central point for hackers to target as the data locations keep changing.</p></div></div></div><!-- #Feature 4 --><!-- Feature 5 --><div class="post-2 flip" id="de-duplication"><h3 class="title">Unneeded duplicates are automatically removed.</h3><div class="post-2-b"><div class="post-2-media"><img alt="Data De-duplication" src="./img/features_5.c576.svg"></div><div class="post-2-content"><p>Once a ﬁle is uploaded, other users who upload the same ﬁle will be automatically referred to the original, limiting the number of copies and reducing the computing resources needed to store it.</p></div></div></div><!-- #Feature 5 --></div><!-- Site Footer --><footer class="app-footer">
        <div class="app-footer-b">
            <div class="app-footer-r top"><div class="app-footer-btns-b clearfix"><div class="app-footer-btns community"><a href="https://safenetforum.org/" target="_blank"></a></div><div class="app-footer-btns slack"><a href="https://slack.safenetwork.org/" target="_blank"></a></div><div class="app-footer-btns youtube"><a href="https://www.youtube.com/channel/UChDck5R_C9i6XTrS66tbwOw" target="_blank"></a></div><div class="app-footer-btns reddit"><a href="https://www.reddit.com/r/maidsafe" target="_blank"></a></div><div class="app-footer-btns twitter"><a href="https://twitter.com/maidsafe" target="_blank"></a></div><div class="app-footer-btns meetup"><a href="https://safenetwork.org/meetup-groups/" target="_blank"></a></div><div class="app-footer-btns telegram"><a href="https://t.me/safenetwork" target="_blank"></a></div></div></div><div class="spliter"></div><div class="app-footer-r middle">
                <!-- Features --><div class="footer-wig-b"><div class="footer-wig-b-cont"><h3><a href="./features.html">Features</a></h3><ul><li><a href="./features.html#self-auth">Self-Authentication</a></li><li><a href="./features.html#self-encryption">Self-Encryption</a></li><li><a href="./features.html#distributed-network">Distributed Network</a></li><li><a href="./features.html#data-availability">Data Availability</a></li><li><a href="./features.html#de-duplication">Deduplication</a></li></ul></div></div><!-- #Features --><!-- Safecoin --><div class="footer-wig-b"><div class="footer-wig-b-cont"><h3><a href="./safecoin.html">Safecoin</a></h3><ul><li><a href="./safecoin.html#global-distribution">Global Distribution</a></li><li><a href="./safecoin.html#farming">Farming</a></li><li><a href="./safecoin.html#resource-economy">Resource Economy</a></li><li><a href="./safecoin.html#proof-of-resource">Proof of Resource</a></li><li><a href="./safecoin.html#new-marketplace">New Marketplace</a></li><li><a href="./buy_maidSafeCoin.html">Buy MaidSafeCoin</a></li></ul></div></div><!-- #Safecoin --><!-- Company --><div class="footer-wig-b"><div class="footer-wig-b-cont"><h3><a href="./company.html">Company</a></h3><ul><li><a href="./company.html#who-we-are">Who we are</a></li><li><a href="./company.html#what-drives-us">What drives us</a></li><li><a href="./careers.html">Join our team</a></li><li><a href="./index.html#roadmap">Roadmap</a></li><li><a href="./assets.html">Brand Assets</a></li><li><a href="./contact.html">Contact</a></li></ul></div></div><!-- #Company --><!-- FAQ -->
                <!-- <div class="footer-wig-b">
                  <div class="footer-wig-b-cont">
                    <h3><a href="./faq.html">FAQs</a></h3>
                    <ul>
                      <li><a href="./faq.html#faq">Frequently asked questions</a></li>
                      <li><a href="./faq.html#unanswered">Question still not answered?</a></li>
                    </ul>
                  </div>
                </div> -->
                <!-- #FAQ -->
            </div><div class="app-footer-r bottom"><div class="footer-hz-li"><ul><li><a href="./disclaimer.html">Disclaimer</a></li><li><a href="./privacy.html">Privacy</a></li><li><a href="./credits.html">Credits</a></li><li><a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="License Button" src="img/license_button.f314.png"></a></li></ul></div></div>
        </div>
    </footer><!-- #Site Footer -->
    <script>window.invertedHeader = true;</script>
    <script src="js/app.503c.js"></script><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        if (window.location.hostname === 'maidsafe.net') {
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                        function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = '//www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-32549768-1'); ga('send', 'pageview');
        }</script>
</body>
</html>
